[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "careless"]
	path = careless
	url = https://github.com/ryentes/careless
	shallow = true
	registered = true
